@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Frunze st.<br />
    Saint-Petersburg, SPB 196035<br />
    <abbr title="Phone">P:</abbr>
    +7 (952) 207-78-83
</address>

<address>
    <strong>Developer:</strong>   <a href="mailto:shpgr@mail.ru">shpgr@mail.ru</a><br />
</address>